<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Solución de PQRS – Peticiones, Quejas, Reclamos y Sugerencias</h3>
        </div>
        <div class="card-body">
            <div class="container">
                <h4 aria-readonly="Por Favor Agregue la información solicitada">Por Favor Agregue la información
                    solicitada</h4>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input class="form-control" matInput placeholder="Nombre" aria-placeholder="Nombre">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Nombre:</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <label for="pwd">Apellido:</label>
                            <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                        </div>
                        <div class="col-lg-4">
                            <label for="documento">Documento:</label>
                            <input type="text" class="form-control" id="documento" placeholder="Documento">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="direccion">Dirrección de residencia:</label>
                            <input type="text" class="form-control" id="direccion" placeholder="Dirección">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="direccion">Descripción detallada de la problemática:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-dark">ENVIAR COMENTARIO</button>
            </div>
        </div>

        <div class="card-footer">Footer</div>
    </div>
</div>