<div class="container">
    <div class="card">
        <div class="card-header text-primary">
            <h3>
                Crear Usuarios
            </h3>
        </div>
        <div class="card-body">
            <form [formGroup]="gestionarUsuarioForm">
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombres</mat-label>
                            <input class="form-control" matInput placeholder="Nombre" aria-placeholder="Nombres"
                                aria-label="Nombres" class="form-control" formControlName="nombre">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Apellido</mat-label>
                            <input class="form-control" matInput placeholder="Apellido" aria-placeholder="Apellido"
                                aria-label="Apellidos" class="form-control" formControlName="apellido">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input class="form-control" type="email" matInput placeholder="email"
                                aria-placeholder="email" aria-label="email" class="form-control"
                                formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input class="form-control" type="text" matInput placeholder="Usuario"
                                aria-placeholder="usuario" aria-label="Usuario" class="form-control"
                                formControlName="usuario">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Contraseña:</mat-label>
                            <input class="form-control" type="password" matInput placeholder="Contraseña"
                                aria-placeholder="password" aria-label="Contraseña" class="form-control"
                                formControlName="password">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Coonfirmar contraseña:</mat-label>
                            <input class="form-control" type="password" matInput placeholder="Contraseña"
                                aria-placeholder="password" aria-label="Contraseña" class="form-control"
                                formControlName="password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-select placeholder="Tipo de usuario" id="rol"
                                formControlName="rol" aria-label="Rol">
                                <mat-option aria-label="Administrador" *ngFor = "let rol of roles" value="{{rol.nombre}}" >{{rol.nombre}}</mat-option>
                                <!-- <mat-option value="COLABORADOR" aria-label="Colaborador">Colaborador</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <button matTooltip="Crear rol" mat-raised-button color="primary"
                            aria-label="Crear rol" routerLink="/gestionarRol">Crear rol</button>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-sm-6"></div>
                    <div class="col-6 text-right">
                        <button matTooltip="Crear usuario" mat-raised-button color="primary"
                            aria-label="Crear usuario" (click)="crearActualizar()">Crear usuario</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>