<div class="card-footer">
    <h4 mat-subheader>Politica de tratamiento de datos</h4>
    <mat-list>
        <p>En el momento que usted suministre datos personales de su propiedad,
            usted nos autoriza a tratarlos,
            y entendemos que su consentimiento es previo,
            expreso e informado, cualquier documento que usted suministre tendra las siguientes finalidades:
        </p>
        <mat-list-item> Asesorar en temas relacionados con la normatividad para la comunidad invidente
        </mat-list-item>
        <mat-list-item> Ayudar al fortalecimiento de las politicas publicas para personas con discapacidad
        </mat-list-item>
        <mat-list-item> Comunicarle sobre respuesta ha preguntas, quejas, reclamos y sugerencias que usted
            realicé
        </mat-list-item>
        <mat-list-item> Tener constante comunicación sobre proyectos que ayuden a la inclusión social
        </mat-list-item>
        <mat-list-item> Garantizar sus derechos como ciudadanos
        </mat-list-item>
    </mat-list>
</div>
