<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="paginaPrincipal">INICIO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink = "normativaForm">NORMATIVIDAD</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active"> -->
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
            USUARIOS
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink= "/cearColaborador">Crear Colaborador</a>
            <a class="dropdown-item" routerLink="/colaboradores">Colaboradores</a>
          <!--   <a class="dropdown-item" href="#">Link 3</a> -->
          </div>
        <!-- </li> -->
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="pqrsForm">PQRS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/usuarios">QUIENES SOMOS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#">AYUDA</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>