<div class="my-5" fxLayout fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="20%">
    <mat-card>
      <mat-card-header class="text-primary">
        <mat-card-title>Menu Normatividad</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="my-5" *ngFor="let item of listaTipoNormativa">
            <button mat-raised-button 
            color="primary" 
            (click)= "buscarNormatividadPorTIpo(item)" 
            matTooltip="{{item.nombre}}">
              {{item.nombre}}
            </button>
          </mat-list-item>
          <!-- <mat-list-item class="my-5">
            <button mat-raised-button color="primary">
              Decretos
            </button>
          </mat-list-item>
          <mat-list-item class="my-5">
            <button mat-raised-button color="primary">
              Resolución
            </button>
          </mat-list-item>
          <mat-list-item class="my-5">
            <button mat-raised-button color="primary">
              Ordenanzas
            </button>
          </mat-list-item>
          <mat-list-item class="my-5">
            <button mat-raised-button color="primary">
              Acuerdos
            </button>
          </mat-list-item> -->
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <mat-card-header class="text-primary">
        <mat-card-title>{{opcionSeleccionada}}</mat-card-title>
      </mat-card-header>
      <div *ngIf="normatividad?.length===0" class="alert alert-info">
        No hay registros en la base de datos!
      </div>
      <mat-card-content *ngIf="normatividad?.length>0">
        <mat-card class="example-card" *ngFor="let norma of normatividad;let i=index;">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{norma.titulo}}</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Imagen de un perro"> -->
          <mat-card-content>
            <p>
              {{norma.descripcion}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
            <button matTooltip="Ver contenido completo" mat-raised-button color="primary" aria-label="expand card"
              (click)="i = !i">
              <!-- <mat-icon *ngIf="card10Expanded">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="!card10Expanded">keyboard_arrow_down</mat-icon> -->
              <samp *ngIf="!i">Ver Más</samp>
              <samp *ngIf="i">Ver Menos</samp>
            </button>
          </mat-card-actions>
          <div class="card-expand-area" *ngIf="i" [@expandCollapse]>
            <div class="card-expanded-content">
              {{norma.contenido}}
            </div>
          </div>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>