<div class="container mt-4">

  <div class="card">
    <div class="card-header">
      <h3>Agregar Quienes somos</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="formControlQuienesSomos">
        <label>Titúlo</label>
        <input type="text" class="form-control" formControlName="titulo" />
        <label>Descripción</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="descripcion"
          rows="3"></textarea>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <input type="submit" value="Guardar" class="btn btn-success btn-lg" (click)="guardar()" />
            <input type="submit" value="Cancelar" class="btn btn-danger btn-lg mx-2" />
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <h3>Información de Quienes Somos</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col">Descripción</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quienesSomos of listQuienesSomos">
              <th>{{quienesSomos.id}}</th>
              <th>{{quienesSomos.titulo}}</th>
              <th>{{quienesSomos.descripcion}}</th>
              <th>
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>