<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Gestión de información normativa</h4>
        </div>
        <div class="card-body">
            <form action="">
                <div class="example-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Titulo</mat-label>
                        <input matInput placeholder="Titulo">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Titulo:</mat-hint>
                    </mat-form-field>

                    <mat-form-field>
                        <textarea matInput placeholder="Textarea"></textarea>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Tipo de información">
                            <mat-option value="option">Normativa</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button aria-label="Guardar" mat-raised-button color="primary">Aceptar</button>
            </form>
        </div>
        <div class="card-footer">Footer</div>
    </div>
</div>