<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Gestión de información normativa</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="titulo">Titulo:</label>
                        <input type="text" class="form-control" id="titulo" placeholder="Titulo">
                    </div>
                    <div class="col-lg-6">
                        <label for="titulo">Tipo:</label>
                        <input type="text" class="form-control" id="tipo" placeholder="Tipo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label for="descripcion">Descripción detallada:</label>
                        <textarea class="form-control" rows="8" id="comment"></textarea>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-dark">ENVIAR COMENTARIO</button>
        </div>
        <div class="card-footer">Footer</div>
    </div>
</div>