<div class="container" 
fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
<!-- <div class="row my-5"> -->
  <div fxFlex="30%" ></div>
  <!-- <div class="col-sm-6 my-5"> -->
    <div class="login-wrapper my-5" fxFlex> 

      <br>
      <br>
      <br>
      <br>
      <mat-card>
      
        <mat-card-header class="text-primary">
          <mat-card-title>Iniciar sesión</mat-card-title>
        </mat-card-header>

        <form class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Usuario">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Contraseña">
            </mat-form-field>
          </mat-card-content>
          <br>
          <button routerLink="/administracion" mat-raised-button color="primary" class="btn-block">Iniciar sesión</button>
        </form>
        <br>
      </mat-card>

      
    </div>
    <div fxFlex="30%" ></div>
  <!-- </div> -->
</div>