<div class="row my-5">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 my-5">
    <div class="login-wrapper my-5" fxLayout="row">

      <mat-card class="box">
        <br>
        <mat-card-header class="text-primary">
          <mat-card-title>Iniciar sesión</mat-card-title>
        </mat-card-header>

        <form class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Usuario">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Contraseña">
            </mat-form-field>
          </mat-card-content>
          <br>
          <button mat-raised-button color="primary" class="btn-block">Iniciar sesión</button>
        </form>
        <br>
      </mat-card>

    </div>

  </div>
  <div class="col-sm-4"></div>
</div>